.header{
    padding: 12rem 8rem;
    background-color: aliceblue;
}

.header-logo{
    font-size: max(3.5vw,32px);
    color: tomato;
    margin-top: 10px;
}

.header-content{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 30px;
}

.inner-content{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.inner-content h2{
    font-size: max(3vw, 30px);
}

.inner-content p{
    margin: 20px 0;
    font-size: max(1.3vw, 18px);
    line-height: 1.3;
    width: 100%;
}

.inner-content .btn{
    display: flex;
    align-items: center;
}

.inner-content .btn button{
    padding: 12px 30px;
    margin-right: 25px;
    cursor: pointer;
    border: 1.5px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    background-color: tomato;
    color: #ffffff;
    font-size: max(1.2vw,18px);
    transition: ease .5s;
}

.inner-content .btn button:hover{
    transform: scale(1.05);
}

.inner-content .btn button:active{
    background-color: #008800;
}

.inner-content1 img{
    width: 100%;
}